name: Package and Smoke Test

on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:

  package: # make sure build/ci work properly
    name: Package
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      name: Checkout Delete Package Versions Repo
    - run: npm install
      name: NPM Install
    - run: npm run pack
      name: Check Format, Lint, Run Unit Tests, Build and Package

  smoke-test: # make sure the action works on a clean machine without building
    name: Smoke Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      name: Checkout Delete Package Versions Repo
    - uses: ./
      name: Smoke Test Delete Package Versions Action
      with:
        package-name: 'action-ci-test-package'
        package-type: 'npm'
        num-old-versions-to-delete: 0
        min-versions-to-keep: 0
